@media screen and ( min-width: 320px ){
.flexbox{
display: flex;
flex-direction: column;
}
.form{
order: 2;
}
.table{
order: 3;}

body {
font-family: sans-serif;
margin: auto;
}
#block
{
margin: auto;
max-width: 960px;

}
#block{
width: 100%;
}

header{
color: #ffffff;
background-color:#8FBC8F;
height: 200px;
width: 100%;
}
.header {
margin: auto;
max-width: 960px;
}
h2
{
background-color:#F4A460;
color:#ffffff;
text-align: center;
}
.h1{
font-family: cursive;
font-size: 40px;
margin: auto;
}
nav{
margin: 0 auto;
top: 200px;
background-color:#FFE4C4;
text-align: center;
display: flex;
flex-direction: column;
}
li{
margin: 0 auto;
}
th {
padding: 10px;
border: 1px solid #A9E2CC;
}
td {
font-size: 0.8em;
padding: 5px 7px;
border: 1px solid #A9E2CC;
}
tr:nth-child(1) {
background-color:#b1eb7bcb;
}
tr:nth-child(2n) {
background: #afe9adb4;
}
.country{
background: #b1eb7bcb;

}
table
{
width: 50%;
border-spacing: 10;
text-align: center;
margin: auto;
}
form
{margin: 0 auto;}
footer
{
text-align:left;
background-color:#F4A460;
color: #ffffff;
width: 100%;

}

}
@media screen and ( min-width: 768px ){
nav {
flex-direction: row;
}
.flexbox{
display: block;
}
a{
padding: 0 10px;
}
}


